body { padding-top: 70px; }

.RIGHT {
    padding-left: 500px;
}

.bg-images {
    color: #993300;
}

#tileh2 {
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 150px;
    font-family: "Lucida Grande";
}

#tilep {
    margin-left: 190px;
    padding-top: 100px;
    font-family: "Lucida Grande";
}

#tilebutton1 {
    margin-left: 190px;
    background-color: rgba(47, 44, 44, 00);
    font-weight: bold;
    color: black;
    font-family: "Lucida Grande";
}

#tilebutton2 {
    margin-left: 190px;
    background-color: rgba(47, 44, 44, 00);
    font-weight: bold;
    color: black;
    font-family: "Lucida Grande";
}

#tilebutton1:hover {
    background-color: rgba(47, 44, 44, 0.2);
}

#tilebutton2:hover {
    background-color: rgba(47, 44, 44, 0.2);
}

#row2 {
    margin-top: 130px;
    padding-bottom: 100px;
    background-color: black;
    color: white;
}

#starth2 {
    text-align: center;
}

.col-md-3 {
    text-align: center;
    border-style: solid;
    border-radius: 20px;
}

.col-md-3:hover {
    cursor: pointer;
}

.icons {
    border-style: solid;
    padding-bottom: 100px;
}

.box {
    padding-left: 200px;
    padding-top: 75px;
    font-family: "Lucida Grande";
}




/////////////////////////////Slideshow//////////////////////////////////

/* http://themarklee.com/2013/10/16/simple-crossfading-slideshow-css/ */
.css-slideshow {
position: relative;
max-width: auto;
height: auto;
margin: 1em auto .5em auto;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 300;
}
.css-slideshow figure {
margin: 0;
max-width: auto;
height: auto;
background: #fff;
position: absolute;
}
.css-slideshow img {
-webkit-box-shadow: 0 0 2px #666;
box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption {
position: absolute;
bottom: 5px;
color: #fff;
background: rgba(0,0,0, .3);
font-size: .8em;
padding: 8px 12px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-o-transition: opacity .5s;
-ms-transition: opacity .5s;
transition: opacity .5s;
}
.css-slideshow:hover figure figcaption {
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-o-transition: opacity .5s;
-ms-transition: opacity .5s;
transition: opacity .5s;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;
}
.css-slideshow-attr {
max-width: 530px;
text-align: right;
font-size: .7em;
font-style: italic;
}
.css-slideshow-attr a {
color: #666;
}
.css-slideshow figure:nth-child(1),.css-slideshow figure:nth-child(2),.css-slideshow figure:nth-child(3) {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
}
.css-slideshow figure:nth-child(1) {
-webkit-animation: xfade 30s 20s  infinite;
-moz-animation: xfade 30s 20s  infinite;
-ms-animation: xfade 30s 20s infinite;
-o-animation: xfade 30s 20s infinite;
animation: xfade 30s 20s infinite;
}
.css-slideshow figure:nth-child(2) {
-webkit-animation: xfade 30s 10s infinite;
-moz-animation: xfade 30s 10s infinite;
-ms-animation: xfade 30s 10s infinite;
-o-animation: xfade 30s 10s infinite;
animation: xfade 30s 10s infinite;
}
.css-slideshow figure:nth-child(3) {
-webkit-animation: xfade 30s 0s infinite;
-moz-animation: xfade 30s 0s infinite;
-ms-animation: xfade 30s 0s infinite;
-o-animation: xfade 30s 0s infinite;
animation: xfade 30s 0s infinite;
}

@keyframes "xfade" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
 }
20% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
33.33% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
 98% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
 }
}
@-moz-keyframes xfade {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
20% {
    filter: alpha(opacity=100);
    opacity: 1;
}
33.33% {
    filter: alpha(opacity=0);
    opacity: 0;
}
 98% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
}
@-webkit-keyframes "xfade" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
20% {
    filter: alpha(opacity=100);
    opacity: 1;
}
33.33% {
    filter: alpha(opacity=0);
    opacity: 0;
}
 98% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
}
@-ms-keyframes "xfade" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }
20% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
33.33% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
 98% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }
}
@-o-keyframes "xfade" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
20% {
    filter: alpha(opacity=100);
    opacity: 1;
}
33.33% {
    filter: alpha(opacity=0);
    opacity: 0;
}
 98% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
}
