<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <p class="navbar-text navbar-left">Freelancer Clone</p>
                <ul class="nav navbar-nav navbar-right RIGHT">
                   <li><button type="submit" class="btn btn-default navbar-btn">Login</button></li>
                   <li><button type="submit" class="btn btn-default navbar-btn">Sign Up</button></li>
                   <li><button type="submit" class="btn btn-warning navbar-btn">Post Job</button></li>
                 </ul>
        </div>
    </div>
</nav>

<!-- main splash screen -->
<div class="row">
    <div class="col-md-6">
        <!-- illustration, logos, website examples -->
        <div class="bg-images">
            <h2>Today is the day you turn your ideas into reality.</h2>
            <p>
                Millions of small businesses post their online jobs on Freelancer.com.
                Find an expert freelancer to bring your project to life!
            </p>
            <button class="btn btn-default">Hire</button>
            <button class="btn btn-default">Work</button>
        </div>
    </div>
    <!-- angular shit -->
</div>

<!-- black box under that shit -->
<div class="row">
    <div class="col-md-6">
        <h4>Celebrating 15 million users</h4>
    </div>
    <div class="col-md-6">
    <!-- angular user counter goes here -->
        <h4>Registered Users</h4>
    </div>
</div>

<ul class="cb-slideshow">
    <li>
        <span>Image 01</span>
        <div>
            <h3>apps</h3>
        </div>
    </li>
    <li>
        <span>Image 02</span>
        <div>
            <h3>logos</h3>
        </div>
    </li>
    <li>
        <span>Image 01</span>
        <div>
            <h3>websites</h3>
        </div>
    </li>
</ul>


<!-- how it works -->
<!-- examples -->
<!-- get started now -->
<!-- all counters -->
<!-- footer -->
